@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include lbh-exports("lbh/component/table") {
  .lbh-table {
    @extend %lbh-body-m;

    .govuk-table__header {
      font-weight: $lbh-font-weight-medium;
    }

    &__caption {
      display: table-caption;
      margin-bottom: govuk-px-to-rem(24);
    }
  }
}
