{% from "table/macro.njk" import govukTable %}

{% set classes = (params.classes if params.classes else '') + ' lbh-table' %}
{% set captionClasses = (params.captionClasses if params.captionClasses else '') + ' lbh-table__caption' %}

{% set rows = [] %}
{% for row in params.rows %}
  {% set rows = (rows.push(row.cells), rows) %}
{% endfor %}

{{ govukTable({
  rows: rows,
  head: params.headCells,
  caption: params.caption,
  captionClasses: captionClasses,
  firstCellIsHeader: params.firstCellIsHeader,
  classes: classes,
  attributes: params.attributes
})}}
