@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include lbh-exports("lbh/component/character-count") {
  .lbh-character-count {
    margin-bottom: 0;

    & + .govuk-error-message {
      color: lbh-colour("lbh-error");
      font-weight: $lbh-font-weight-medium;
    }
  }
}
