@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "node_modules/govuk-frontend/govuk/components/details/details";

@include lbh-exports("lbh/component/details") {
  .lbh-details {
    margin-bottom: 0;

    .govuk-details__summary {
      @include lbh-link;
      color: $lbh-link-colour;
    }

    .govuk-details__text {
      @include lbh-body-m;
      margin-top: 0;
      border-color: lbh-colour("lbh-border");
    }
  }
}
