@import "../settings/colour-palette";

////
/// @group helpers/colour
////

/// Get colour
///
/// @param {String} $colour - Name of colour from the colour palette
///   (`$lbh-colours`)
/// @return {Colour} Representation of named colour
/// @throw if `$colour` is not a colour from the colour palette
/// @access public

@function lbh-colour($colour) {
  $colour: quote($colour);

  @if not map-has-key($lbh-colours, $colour) {
    @error "Unknown colour `#{$colour}`";
  }

  @return map-get($lbh-colours, $colour);
}
