{% from "lbh-input/macro.njk" import lbhInput %}
{% from "lbh-fieldset/macro.njk" import lbhFieldset %}
{% from "lbh-button/macro.njk" import lbhButton %}

{% macro createChildParamHTML(param, path) %}
  {% call lbhFieldset({
    legend: {
      text: param.name | capitalize,
      isPageHeading: false
    },
    classes: "create-html__fieldset"
  }) %}
    <div class="create-html__group">
      {% if param.type == "array" %}
        <h3 class="lbh-heading-h3 create-html__array-title">{{param.name.slice(0, -1) | capitalize }}</h3>
      {% endif %}
      {% for childParam in param.params %}
        {% if childParam.params %}
          {{createChildParamHTML(childParam, path + '[0][' + childParam.name | replace(".", "][") + ']')}}
        {% else %}
          {% set name = childParam.name | replace(".", "][") %}
          {% set childLabel = {
            html: childParam.name + ('<span class="create-html__required">*</span>' if childParam.required == true else '')
          } %}
          {% if childParam.required == true %}
            {% set childAttributes = {
              required: true
            } %}
          {% else %}
            {% set childAttributes = {} %}
          {% endif %}
          {% set hintHTML = childParam.description %}
          {% if childParam.example and not childParam.params %}
            {% set hintHTML = hintHTML + ' Example:' %}
            {% set exampleString = (childParam.example | dump) %}
            {% if (exampleString | first) == '"' and (exampleString | last) == '"' %}
              {% set hintHTML = hintHTML + '<code class="code code--block">' + (childParam.example | e) + '</code>' %}
            {% else %}
              {% set hintHTML = hintHTML + '<code class="code code--block">' + exampleString + '</code>' %}
            {% endif %}
          {% endif %}
          {% if param.type == "array" %}
            {{lbhInput({
              id: childParam.name + '-0',
              name: path + '[0][' + name + ']',
              attributes: childAttributes,
              hint: {
                html: hintHTML
              },
              label: childLabel
            }) }}
          {% else %}
            {{lbhInput({
              id: childParam.name ,
              name: path + '[' + name + ']',
              attributes: childAttributes,
              hint: {
                html: hintHTML
              },
              label: childLabel
            }) }}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    {% if param.type == "array" %}
      {{ lbhButton({
        text: "Add another " + param.name.slice(0, -1),
        element: "button",
        type: "button",
        classes: "create-form-add-item"
      }) }}
    {% endif %}
  {% endcall %}
{% endmacro %}
