{% from "lbh-details/macro.njk" import lbhDetails %}

{% macro showParams(componentSlug, componentName, data, legacyQuery) %}

  <div class="lbh-container params">
    {% set detailsHtml %}
    <table class="govuk-table lbh-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Required</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for param in data.params %}
          {% set exampleHTML = param.description %}
          {% if (not param.params) and param.example %}
            {% set exampleHTML = exampleHTML + '<br /><br />Example: ' %}
            {% set exampleString = (param.example | dump) %}
            {% if (exampleString | first) == '"' and (exampleString | last) == '"' %}
              {% set exampleHTML = exampleHTML + '<code class="code code--block">' + (param.example | e) + '</code>' %}
            {% else %}
              {% set exampleHTML = exampleHTML + '<code class="code code--block">' + exampleString + '</code>' %}
            {% endif %}
          {% endif %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{param.name}}</td>
            <td class="govuk-table__cell">{{exampleHTML | safe}}
              {{ showChildParams(param) }}
            </td>
            <td class="govuk-table__cell"><code class="code code--inline">{{param.type}}</code></td>
            <td class="govuk-table__cell"><code class="code code--inline">{{param.required}}</code></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endset %}
    {{- lbhDetails({ summaryText: "Parameters", html: detailsHtml }) -}}
  </div>
{% endmacro %}

{% macro showChildParams(param) %}
  {% if  param.params %}
    Parameters:
    <table class="govuk-table lbh-table table--child">
      <tbody class="govuk-table__body">
        {% for childParam in param.params %}
          {% set exampleHTML = childParam.description %}
          {% if (not childParam.params) and childParam.example %}
            {% set exampleHTML = exampleHTML + '<br /><br />Example: ' %}
            {% set exampleString = (childParam.example | dump) %}
            {% if (exampleString | first) == '"' and (exampleString | last) == '"' %}
              {% set exampleHTML = exampleHTML + '<code class="code code--block">' + (childParam.example | e) + '</code>' %}
            {% else %}
              {% set exampleHTML = exampleHTML + '<code class="code code--block">' + exampleString + '</code>' %}
            {% endif %}
          {% endif %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{childParam.name}}</td>
            <td class="govuk-table__cell">{{exampleHTML | safe}} {{showChildParams(childParam)}}</td>
            <td class="govuk-table__cell"><code class="code code--inline">{{childParam.type}}</code></td>
            <td class="govuk-table__cell"><code class="code code--inline">{{childParam.required}}</code></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endmacro %}
