////
/// @group helpers
////

/// Common link mixin
///
/// Provides the typography and focus state, regardless of link style.
///
/// @access public

@mixin lbh-link-common {
  @include lbh-typography-common;

  &:focus {
    @include govuk-focused-text;
  }
}

/// Default link style mixin
///
/// Provides the default unvisited, visited, hover and active states for links.
///
/// If you use this mixin in a component you must also include the
/// lbh-link-common mixin in order to get the focus state.
///
/// @example scss
///   .lbh-component__link {
///     @include lbh-link-common;
///     @include lbh-link-style-default;
///   }
///
/// @access public

@mixin lbh-link-style-default {
  &:link {
    color: $lbh-link-colour;
  }

  &:visited {
    color: $lbh-link-visited-colour;
  }

  &:hover {
    color: $lbh-link-hover-colour;
  }

  &:active {
    color: $lbh-link-active-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $govuk-focus-text-colour;
  }

  // alphagov/govuk_template includes a specific a:link:focus selector
  // designed to make unvisited link  s a slightly darker blue when focussed, so
  // we need to override the text colour for that combination of selectors so
  // so that unvisited links styled as buttons do not end up with dark blue
  // text when focussed.
  @include govuk-compatibility(govuk_template) {
    &:link:focus {
      color: $govuk-focus-text-colour;
    }
  }
}

@mixin lbh-link {
  @include lbh-link-common;
  @include lbh-link-style-default;
  @include govuk-link-print-friendly;
}
