@mixin lbh-list {
  @include lbh-font;
  padding-left: 0;
  list-style-type: none;
  color: $lbh-text-colour;
  @include lbh-rem(font-size, 16);
  font-weight: $lbh-font-weight-light;
  @include lbh-rem(line-height, 19);

  * + & {
    margin-top: 1.5em;
  }

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 19);
    @include lbh-rem(line-height, 23);
  }

  .lbh-list,
  .govuk-list {
    @include lbh-rem(margin-top, 12);
  }

  & > li + li {
    @include lbh-rem(margin-top, 12);
  }
}

@mixin lbh-list--bullet {
  @include lbh-rem(padding-left, 18);
  list-style-type: disc;

  & > li {
    margin-bottom: 0;
  }

  .lbh-list--bullet {
    list-style-type: circle;
  }
}

@mixin lbh-list--number {
  @include lbh-rem(padding-left, 18);
  list-style-type: decimal;

  & > li {
    margin-bottom: 0;
  }
}
