/// 'Common typography' helper
///
/// Sets the font family and associated properties, such as font smoothing. Also
/// overrides the font for print.
///
/// @param {List} $font-family [$lbh-font-family] Font family to use
/// @access public

@mixin lbh-typography-common($font-family: $lbh-font-family) {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/// Font helper
///
/// @param {Number} $size - Size of the font as it would appear on desktop -
///   uses the responsive font size map
/// @param {String} $weight [regular] - Weight: `bold` or `regular`
/// @param {Boolean} $tabular [false] - Whether to use tabular numbers or not
/// @param {Number} $line-height [false] - Line-height, if overriding the default
///
/// @access public

@mixin lbh-font {
  @include lbh-typography-common;
}

@mixin lbh-heading {
  @include lbh-font;
  display: block;
  color: $lbh-text-colour;
  font-weight: $lbh-font-weight-medium;
}

@mixin lbh-heading-h1 {
  @include lbh-heading;
  @include lbh-rem(font-size, 32);
  @include lbh-rem(line-height, 38);

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 48);
    @include lbh-rem(line-height, 58);
  }
}

@mixin lbh-heading-h2 {
  @include lbh-heading;
  @include lbh-rem(font-size, 24);
  @include lbh-rem(line-height, 29);

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 30);
    @include lbh-rem(line-height, 36);
  }
}

@mixin lbh-heading-h3 {
  @include lbh-heading;
  @include lbh-rem(font-size, 20);
  @include lbh-rem(line-height, 24);

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 24);
    @include lbh-rem(line-height, 29);
  }
}

@mixin lbh-heading-h4 {
  @include lbh-heading;
  @include lbh-rem(font-size, 18);
  @include lbh-rem(line-height, 22);

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 20);
    @include lbh-rem(line-height, 24);
  }
}

@mixin lbh-heading-h5 {
  @include lbh-heading;
  @include lbh-rem(font-size, 16);
  @include lbh-rem(line-height, 19);

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 18);
    @include lbh-rem(line-height, 22);
  }
}

@mixin lbh-heading-h6 {
  @include lbh-heading;
  @include lbh-rem(font-size, 14);
  @include lbh-rem(line-height, 17);

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 16);
    @include lbh-rem(line-height, 19);
  }
}

@mixin lbh-heading-large-light {
  @include lbh-heading;
  @include lbh-rem(font-size, 24);
  font-weight: $lbh-font-weight-extra-light;
  @include lbh-rem(line-height, 29);

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 36);
    @include lbh-rem(line-height, 43);
  }
}

@mixin lbh-body-l {
  @include lbh-font;
  color: $lbh-text-colour;
  @include lbh-rem(font-size, 19);
  font-weight: $lbh-font-weight-light;
  @include lbh-rem(line-height, 28);

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 24);
    font-weight: $lbh-font-weight-light;
    @include lbh-rem(line-height, 33);
  }
}

@mixin lbh-body-m {
  @include lbh-font;
  color: $lbh-text-colour;
  @include lbh-rem(font-size, 16);
  font-weight: $lbh-font-weight-light;
  @include lbh-rem(line-height, 26);

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 19);
    @include lbh-rem(line-height, 30);
  }
}

@mixin lbh-body-s {
  @include lbh-font;
  color: $lbh-text-colour;
  @include lbh-rem(font-size, 13);
  font-weight: $lbh-font-weight-regular;
  @include lbh-rem(line-height, 19);

  @include govuk-media-query($from: tablet) {
    @include lbh-rem(font-size, 16);
    @include lbh-rem(line-height, 24);
  }
}

@mixin lbh-body-xs {
  @include lbh-font;
  color: $lbh-text-colour;
  @include lbh-rem(font-size, 14);
  font-weight: $lbh-font-weight-regular;
  @include lbh-rem(line-height, 24);
}
