/// 'Common typography' helper
///
/// Sets the font family and associated properties, such as font smoothing. Also
/// overrides the font for print.
///
/// @param {List} $font-family [$lbh-font-family] Font family to use
/// @access public

@mixin lbh-typography-common($font-family: $lbh-font-family) {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/// Font helper
///
/// @param {Number} $size - Size of the font as it would appear on desktop -
///   uses the responsive font size map
/// @param {String} $weight [regular] - Weight: `bold` or `regular`
/// @param {Boolean} $tabular [false] - Whether to use tabular numbers or not
/// @param {Number} $line-height [false] - Line-height, if overriding the default
///
/// @access public

@mixin lbh-font {
  @include lbh-typography-common;
}

@mixin lbh-heading {
  @include lbh-font;
  display: block;
  color: $lbh-text-colour;
  font-weight: $lbh-font-weight-medium;
}

@mixin lbh-heading-h1 {
  @include lbh-heading;
  font-size: govuk-px-to-rem(32);
  line-height: govuk-px-to-rem(38);

  @include govuk-media-query($from: tablet) {
    font-size: govuk-px-to-rem(48);
    line-height: govuk-px-to-rem(58);
  }
}

@mixin lbh-heading-h2 {
  @include lbh-heading;
  font-size: govuk-px-to-rem(24);
  line-height: govuk-px-to-rem(29);

  @include govuk-media-query($from: tablet) {
    font-size: govuk-px-to-rem(30);
    line-height: govuk-px-to-rem(36);
  }
}

@mixin lbh-heading-h3 {
  @include lbh-heading;
  font-size: govuk-px-to-rem(20);
  line-height: govuk-px-to-rem(24);

  @include govuk-media-query($from: tablet) {
    font-size: govuk-px-to-rem(24);
    line-height: govuk-px-to-rem(29);
  }
}

@mixin lbh-heading-h4 {
  @include lbh-heading;
  font-size: govuk-px-to-rem(18);
  line-height: govuk-px-to-rem(22);

  @include govuk-media-query($from: tablet) {
    font-size: govuk-px-to-rem(20);
    line-height: govuk-px-to-rem(24);
  }
}

@mixin lbh-heading-h5 {
  @include lbh-heading;
  font-size: govuk-px-to-rem(16);
  line-height: govuk-px-to-rem(19);

  @include govuk-media-query($from: tablet) {
    font-size: govuk-px-to-rem(18);
    line-height: govuk-px-to-rem(22);
  }
}

@mixin lbh-heading-h6 {
  @include lbh-heading;
  font-size: govuk-px-to-rem(14);
  line-height: govuk-px-to-rem(17);

  @include govuk-media-query($from: tablet) {
    font-size: govuk-px-to-rem(16);
    line-height: govuk-px-to-rem(19);
  }
}

@mixin lbh-heading-large-light {
  @include lbh-heading;
  font-size: govuk-px-to-rem(24);
  font-weight: $lbh-font-weight-extra-light;
  line-height: govuk-px-to-rem(29);

  @include govuk-media-query($from: tablet) {
    font-size: govuk-px-to-rem(36);
    line-height: govuk-px-to-rem(43);
  }
}

@mixin lbh-body-l {
  @include lbh-font;
  color: $lbh-text-colour;
  font-size: govuk-px-to-rem(19);
  font-weight: $lbh-font-weight-light;
  line-height: govuk-px-to-rem(28);

  @include govuk-media-query($from: tablet) {
    font-size: govuk-px-to-rem(24);
    font-weight: $lbh-font-weight-light;
    line-height: govuk-px-to-rem(33);
  }
}

@mixin lbh-body-m {
  @include lbh-font;
  color: $lbh-text-colour;
  font-size: govuk-px-to-rem(16);
  font-weight: $lbh-font-weight-light;
  line-height: govuk-px-to-rem(26);

  @include govuk-media-query($from: tablet) {
    font-size: govuk-px-to-rem(19);
    line-height: govuk-px-to-rem(30);
  }
}

@mixin lbh-body-s {
  @include lbh-font;
  color: $lbh-text-colour;
  font-size: govuk-px-to-rem(13);
  font-weight: $lbh-font-weight-regular;
  line-height: govuk-px-to-rem(19);

  @include govuk-media-query($from: tablet) {
    font-size: govuk-px-to-rem(16);
    line-height: govuk-px-to-rem(24);
  }
}

@mixin lbh-body-xs {
  @include lbh-font;
  color: $lbh-text-colour;
  font-size: govuk-px-to-rem(14);
  font-weight: $lbh-font-weight-regular;
  line-height: govuk-px-to-rem(24);
}
