
{% extends "layout.njk" %}

{% from "lbh-back-link/macro.njk" import lbhBackLink %}

{% block beforeContent %}
  <div class="lbh-container">
  {{ lbhBackLink({
    "href": "/"
  }) }}
  </div>
{% endblock %}

{% block content %}
  <h1 class="lbh-heading-h1">
    Colours
  </h1>

  <!-- Headings -->

  <section>
    <p class="lbh-body-m">These colours are available to use in your scss, with the function <code class="code code--inline">lbh-colours</code>. You can use pass the name to <code class="code code--inline">lbh-colours</code> like this: </p>
    <p class="lbh-body-m">
      <code class="code code--block">.my-element {<br />
        &nbsp;&nbsp;color: lbh-colours("lbh-a01");<br />
      }</code>
    </p>
    <ul class="lbh-list">
      <li>
        <span style="background:#00664f" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-a01</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#00664f</code></span>
        </span>
      </li>
      <li>
        <span style="background:#00b341" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-a02</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#00b341</code></span>
        </span>
      </li>
      <li>
        <span style="background:#84bd00" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-a03</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#84bd00</code></span>
        </span>
      </li>
      <li>
        <span style="background:#a4d65e" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-a04</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#a4d65e</code></span>
        </span>
      </li>
      <li>
        <span style="background:#672146" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-e01</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#672146</code></span>
        </span>
      </li>
      <li>
        <span style="background:#aa0061" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-e02</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#aa0061</code></span>
        </span>
      </li>
      <li>
        <span style="background:#df1995" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-e03</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#df1995</code></span>
        </span>
      </li>
      <li>
        <span style="background:#eb6fbd" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-e04</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#eb6fbd</code></span>
        </span>
      </li>
      <li>
        <span style="background:#81312f" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-f01</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#81312f</code></span>
        </span>
      </li>
      <li>
        <span style="background:#be3a34" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-f02</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#be3a34</code></span>
        </span>
      </li>
      <li>
        <span style="background:#e03c31" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-f03</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#e03c31</code></span>
        </span>
      </li>
      <li>
        <span style="background:#ff6a13" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-f04</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#ff6a13</code></span>
        </span>
      </li>
      <li>
        <span style="background:#f8e08e" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-h04</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#f8e08e</code></span>
        </span>
      </li>
      <li>
        <span style="background:#0b0c0c" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-text</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#0b0c0c</code></span>
        </span>
      </li>
      <li>
        <span style="background:#ffffff" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-text-white</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#ffffff</code></span>
        </span>
      </li>
      <li>
        <span style="background:#525a5b" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-secondary-text</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#525a5b</code></span>
        </span>
      </li>
      <li>
        <span style="background:#00664f" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-primary-button</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#00664f</code></span>
        </span>
      </li>
      <li>
        <span style="background:#003d2f" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-primary-inner-shadow</code></span><span class="colour-hex">Hex code: <code class="code code--inline">#003d2f</code></span></span></li>
      <li>
        <span style="background:#00513f" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-primary-hover</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#00513f</code></span>
        </span>
      </li>
      <li>
        <span style="background:#ffc845" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-primary-focus</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#ffc845</code></span>
        </span>
      </li>
      <li>
        <span style="background:#7fb2a7" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-primary-disabled</code></span><span class="colour-hex">Hex code: <code class="code code--inline">#7fb2a7</code></span>
        </span>
      </li>
      <li>
        <span style="background:#328472" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-primary-disabled-inner-shadow</code></span><span class="colour-hex">Hex code: <code class="code code--inline">#328472</code></span>
        </span>
      </li>
      <li>
        <span style="background:#ffffff" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-secondary-button</code></span><span class="colour-hex">Hex code: <code class="code code--inline">#ffffff</code></span>
        </span>
      </li>
      <li>
        <span style="background:#003d2f" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-secondary-inner-shadow</code></span><span class="colour-hex">Hex code: <code class="code code--inline">#003d2f</code></span>
        </span>
      </li>
      <li>
        <span style="back<span>ground:#dee0e2" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lspan-secondary-disabled</code></span><span class="colour-hex">Hex code: <code class="code code--inline">#dee0e2</code></span>
        </span>
      </li>
      <li>
        <span style="background:#025ea6" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-link</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#025ea6</code></span>
        </span>
      </li>
      <li>
        <span style="background:#0085ca" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-link-hover</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#0085ca</code></span>
        </span>
      </li>
      <li>
        <span style="background:#8031a7" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-link-visited</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#8031a7</code></span>
        </span>
      </li>
      <li>
        <span style="background:#2b8cc4" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-link-active</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#2b8cc4</code></span>
        </span>
      </li>
      <li>
        <span style="background:#dee0e2" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-panel</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#dee0e2</code></span>
        </span>
      </li>
      <li>
        <span style="background:#be3a34" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-error</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#be3a34</code></span>
        </span>
      </li>
      <li>
        <span style="background:#bfc1c3" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-border</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#bfc1c3</code></span>
        </span>
      </li>
      <li>
        <span style="background:#0b0c0c" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-black</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#0b0c0c</code></span>
        </span>
      </li>
      <li>
        <span style="background:#6f777b" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-grey-1</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#6f777b</code></span>
        </span>
      </li>
      <li>
        <span style="background:#bfc1c3" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-grey-2</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#bfc1c3</code></span>
        </span>
      </li>
      <li>
        <span style="background:#dee0e2" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-grey-3</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#dee0e2</code></span>
        </span>
      </li>
      <li>
        <span style="background:#f8f8f8" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-grey-4</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#f8f8f8</code></span>
        </span>
      </li>
      <li>
        <span style="background:#ffffff" class="colour-swatch"></span>
        <span class="colour-text">
          <span class="colour-name">Name: <code class="code code--inline">lbh-white</code></span>
          <span class="colour-hex">Hex code: <code class="code code--inline">#ffffff</code></span>
        </span>
      </li>
  </ul>

  </section>
{% endblock %}
