@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../objects/all";

@import "node_modules/govuk-frontend/govuk/components/breadcrumbs/breadcrumbs";

@include lbh-exports("lbh/component/breadcrumbs") {
  .lbh-breadcrumbs {
    @include lbh-body-xs;
    @include lbh-rem(margin-top, 18);
    @include lbh-rem(margin-bottom, -12);
    overflow: hidden;
    @include lbh-rem(font-size, 15);

    .lbh-header--fixed ~ & {
      @include lbh-rem(margin-top, 106);

      @include govuk-media-query($from: tablet) {
        @include lbh-rem(margin-top, 119);
      }
    }

    .govuk-breadcrumbs__list-item {
      @include lbh-rem(margin-bottom, 12);
    }

    .govuk-breadcrumbs__list-item + .govuk-breadcrumbs__list-item {
      margin-top: 0;
    }

    .govuk-breadcrumbs__link {
      @include lbh-link;
      font-weight: $lbh-font-weight-medium;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }
}
