@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "node_modules/govuk-frontend/govuk/components/tag/tag";

@include lbh-exports("lbh/component/tag") {
  .lbh-tag {
    @include lbh-body-xs;
    padding: govuk-px-to-rem(2) govuk-px-to-rem(12) 0;
    color: lbh-colour("lbh-white");
    background: lbh-colour("lbh-a01");
    box-shadow: lbh-colour("lbh-primary-inner-shadow") 0 2px 0 0;
    line-height: govuk-px-to-rem(15);
    text-transform: uppercase;
  }
}
