@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "node_modules/govuk-frontend/govuk/components/fieldset/fieldset";

@include lbh-exports("lbh/component/fieldset") {
  .lbh-fieldset {
    margin-top: 1.5em;
  }

  .lbh-form-group .govuk-fieldset__legend,
  .lbh-fieldset .govuk-fieldset__legend {
    @include lbh-heading-h3;
    margin-bottom: 0;

    &.govuk-fieldset__legend--l,
    &.govuk-fieldset__legend--xl {
      @include lbh-heading-h1;
    }

    &.govuk-fieldset__legend--m {
      @include lbh-heading-h2;
    }

    & + .govuk-hint {
      @include lbh-rem(margin-top, 12);
    }
  }
}
