@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "node_modules/govuk-frontend/govuk/components/inset-text/inset-text";

@include lbh-exports("lbh/component/inset-text") {
  .lbh-inset-text {
    @include lbh-body-m;
    margin-bottom: 0;
    @include lbh-rem(padding, 24);
    border-left-color: lbh-colour("lbh-border");
  }
}
