@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

$govuk-font-family: "Open Sans";
$govuk-include-default-font-face: false;
$lbh-font-family: "Open Sans";

@import "base";

$govuk-asset-path: $lbh-asset-path;

@import "core/all";
@import "objects/all";

@import "components/all";

@import "utilities/all";
@import "overrides/all";
