{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% set classes = (params.classes if params.classes else '') + ' lbh-checkboxes' %}

{% set formGroup = formGroup|setAttribute('classes', formGroup.classes + ' lbh-form-group') if formGroup else {classes: 'lbh-form-group'} %}

{% set items = [] %}
{% for item in params.items %}
  {% set hint = null %}
  {% if item.hint %}
    {% set hint = {
      text: item.hint.text,
      html: item.hint.html,
      id: item.hint.id,
      classes: (item.hint.classes if item.hint.classes else '') + ' lbh-hint',
      attributes: item.hint.attributes
    } %}
  {% endif %}

  {% set label = {
    text: item.label.text,
    html: item.label.html,
    id: item.label.id,
    classes: 'lbh-label' + (' ' + item.label.classes if item.label.classes),
    attributes: item.label.attributes
 } if item.label else null %}

  {% set newItem = {
    text: item.text,
    html: item.html,
    id: item.id,
    name: item.name,
    value: item.value,
    label: label,
    hint: hint if hint else item.hint,
    checked: item.checked,
    conditional: {
      html: item.conditional.html
    },
    disabled: item.disabled,
    attributes: item.attributes
  } %}

  {% set items = (items.push(newItem), items) %}

{% endfor %}

{% set hint = {
    text: params.hint.text,
    html: params.hint.html,
    id: params.hint.id,
    classes: (params.hint.classes if params.hint.classes else '') + ' lbh-hint',
    attributes: params.hint.attributes
 } if params.hint else null %}

{{ govukCheckboxes({
  describedBy: params.describedBy,
  fieldset: params.fieldset,
  hint: hint,
  errorMessage: params.errorMessage,
  formGroup: formGroup,
  idPrefix: params.idPrefix,
  name: params.name,
  items: items,
  classes: classes,
  attributes: params.attributes
})}}
