{% from "skip-link/macro.njk" import govukSkipLink %}

{% set classes = (params.classes if params.classes else '') + ' lbh-skip-link' %}

{{ govukSkipLink({
  text: params.text,
  html: params.html,
  href: params.href,
  classes: classes,
  attributes: params.attributes
})}}
