// sass-lint:disable no-url-protocols no-url-domains
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
// sass-lint:enable no-url-protocols no-url-domains

@import "node_modules/govuk-frontend/govuk/core/all";
@import "reset";

@import "links";
@import "lists";
@import "typography";
@import "spacing";
@import "global-styles";

html {
  scroll-behavior: smooth;
}
