.lbh-form-group .govuk-error-message {
  color: lbh-colour("lbh-error");
  font-weight: $lbh-font-weight-medium;
}

.lbh-form-group .govuk-input--error {
  border-color: lbh-colour("lbh-error");
}

.lbh-form-group.govuk-form-group--error {
  border-color: lbh-colour("lbh-error");
}
