@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../objects/all";
@import "../lbh-hint/hint";
@import "../lbh-textarea/textarea";

@import "node_modules/govuk-frontend/govuk/components/character-count/character-count";

@include lbh-exports("lbh/component/character-count") {
  // Can't currently add a custom class to .govuk-character-count
  .govuk-character-count {
    margin-bottom: 0;

    & + .govuk-error-message {
      color: lbh-colour("lbh-error");
      font-weight: $lbh-font-weight-medium;
    }

    &__message {
      @include lbh-hint;
    }
  }
}
