@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../objects/all";
@import "../lbh-hint/hint";
@import "../lbh-error-message/error-message";
@import "../lbh-fieldset/fieldset";
@import "../lbh-label/label";
@import "node_modules/govuk-frontend/govuk/components/checkboxes/checkboxes";

@include lbh-exports("lbh/component/checkboxes") {
  .lbh-checkboxes {
    margin-bottom: 0;

    .govuk-checkboxes__label {
      @include lbh-label;
      margin-top: 0;
      @include lbh-rem(padding-top, 9);
      @include lbh-rem(padding-bottom, 8);
    }

    .govuk-checkboxes__item {
      margin-top: 0;
      @include lbh-rem(margin-bottom, 12);
    }

    .govuk-hint {
      @include lbh-hint;
    }

    .govuk-input {
      @include lbh-body-m;
      margin-bottom: 0;
    }
  }
}
