@include lbh-exports("lbh/component/map") {
  .lbh-map {
    display: flex;
    border-top: 4px solid lbh-colour("lbh-a01");
    flex-direction: column;

    @include govuk-media-query($from: desktop) {
      display: block;
      overflow: hidden;
    }

    &__title {
      @include lbh-rem(margin-top, 18);
      order: 1;

      @include govuk-media-query($from: desktop) {
        @include lbh-rem(margin-top, 36);
        @include lbh-rem(margin-right, 36);
        float: left;
      }
    }

    // &__map-container-contact-block {
    //   position: relative;
    //   z-index: lbh-depth-index("map");
    //   width: 100%;
    //   height: 400px;
    //   order: 4;

    //   @include govuk-media-query($from: desktop) {
    //     box-sizing: border-box;
    //     width: 66.666%;
    //     @include lbh-rem(padding-left, 18);
    //     float: right;
    //   }
    // }

    &__map-container {
      position: relative;
      z-index: lbh-depth-index("map");
      width: 100%;
      height: 400px;
      order: 4;

      @include govuk-media-query($from: desktop) {
        box-sizing: border-box;
      }
    }

    &__map {
      width: 100%;
      height: 100%;
    }

    .leaflet-marker-icon {
      cursor: grab;
    }

    &__directions {
      display: block;
      @include lbh-rem(margin-top, 12);
      text-align: right;
    }

    .leaflet-control-zoom-out {
      margin-top: 0;
    }
  }
}
