@import "../../tools/all";
@import "../../settings/all";
@import "../../helpers/all";

@include lbh-exports("lbh/component/breadcrumbs") {

  // Colour of chevron
  $chevron-border-colour: lbh-colour("lbh-grey-2");

  .lbh-breadcrumbs .govuk-breadcrumbs__list-item {
    // Create a chevron using a box with borders on two sides, rotated 45deg.
    padding-left: govuk-px-to-rem(14);
    font-size: govuk-px-to-rem(14);
    line-height: govuk-px-to-rem(18);

    &:before {
      top: govuk-px-to-rem(1);
      width: govuk-px-to-rem(6);
      height: govuk-px-to-rem(6);
      border-color: $chevron-border-colour;

      // Fall back to a greater than sign for IE8
      @include govuk-if-ie8 {
        color: $chevron-border-colour;
      }
    }
  }
}
