@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../objects/all";
@import "../lbh-hint/hint";
@import "../lbh-input/input";
@import "../lbh-label/label";

@import "node_modules/govuk-frontend/govuk/components/date-input/date-input";

@include lbh-exports("lbh/component/date-input") {
  .lbh-form-group.lbh-form-group--date-input .govuk-fieldset__legend {
    @include lbh-body-m;
    margin-bottom: 0;
  }

  .lbh-form-group .govuk-label.govuk-date-input__label {
    @include lbh-label;
    @include lbh-heading-h4;
    @include lbh-rem(margin-top, 12);
  }


  .lbh-form-group--date-input .govuk-hint,
  .lbh-form-group--date-input .govuk-fieldset__legend:not(.govuk-fieldset__legend--m):not(.govuk-fieldset__legend--l):not(.govuk-fieldset__legend--xl) + .govuk-hint {
    @include lbh-rem(margin-top, 6);
    margin-bottom: 0;
  }
}
