@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("lbh/component/section-announcement") {
  .lbh-section-announcement {
    padding: govuk-px-to-rem(36) 0;
    border-top: 1px solid lbh-colour("lbh-a03");
    border-bottom: 1px solid lbh-colour("lbh-a03");
    background: rgba(lbh-colour("lbh-a04"), .5);

    &__title {
      margin-top: 0;
      margin-bottom: govuk-px-to-rem(12);
    }

    &__content {
      @extend %lbh-body-m;

      a {
        @extend %lbh-link;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
