<section class="lbh-section-announcement">
  <div class="lbh-container">
    <h3 class="lbh-section-announcement__title">{{params.title}}</h3>
    <div class="lbh-section-announcement__content">{{params.content|safe}}</div>
  </div>
</section>
