{% extends "full-width.njk" %}

{% from "lbh-cookie-banner/macro.njk" import lbhCookieBanner %}
{% from "lbh-header/macro.njk" import lbhHeader %}

{% set pageTitle = "Blank page" %}
{% block pageTitle %}{{ pageTitle }} | Hackney Council{% endblock %}

{% block beforeContent %}
  {{ lbhCookieBanner({
    content: '<p>We use cookies to ensure you have the best experience. For full details see our <a href="#">Cookie policy</a>.</p>'
  }) }}
  {{ lbhHeader({
    isHome: false,
    homepageUrl: '/',
    isFixed: true
  }) }}
  <!-- Phase banner goes here -->
  <!-- Announcements go here -->
  <!-- Breadcrumbs go here -->
{% endblock %}
{% block content %}
<div class="lbh-container">
  <!-- Page components go here -->
</div>
{% endblock %}
