{% extends "layout.njk" %}

{% from "lbh-back-link/macro.njk" import lbhBackLink %}

{% block beforeContent %}
  <div class="lbh-container">
  {{ lbhBackLink({
    "href": "/"
  }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="docs">
    {{docs | safe}}
  </div>
{% endblock %}
