@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "node_modules/govuk-frontend/govuk/components/breadcrumbs/breadcrumbs";

@include lbh-exports("lbh/component/breadcrumbs") {
  .lbh-breadcrumbs {
    @include lbh-body-xs;
    margin-top: govuk-px-to-rem(18);
    margin-bottom: govuk-px-to-rem(-12);
    overflow: hidden;
    font-size: govuk-px-to-rem(15);

    .govuk-breadcrumbs__list-item {
      margin-bottom: govuk-px-to-rem(12);
    }

    .govuk-breadcrumbs__list-item + .govuk-breadcrumbs__list-item {
      margin-top: 0;
    }

    .govuk-breadcrumbs__link {
      @include lbh-link;
      font-weight: $lbh-font-weight-medium;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }
}
