@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include lbh-exports("lbh/component/cookie-banner") {
  .lbh-cookie-banner {
    @include lbh-font;
    padding: govuk-px-to-rem(24) 0;
    color: lbh-colour("lbh-white");
    background: rgba(lbh-colour("lbh-black"), .9);
    font-size: govuk-px-to-rem(16);
    font-weight: $lbh-font-weight-light;
    line-height: govuk-px-to-rem(24);

    &__content {
      & > *:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-top: 0;
    }

    a {
      @extend %lbh-link;

      &,
      &:link,
      &:visited {
        color: lbh-colour("lbh-white");
        font-weight: $lbh-font-weight-medium;

        &:hover {
          color: rgba(lbh-colour("lbh-white"), .8);
        }

        &:focus {
          color: lbh-colour("lbh-black");
        }
      }
    }

    &__button {
      margin-top: govuk-px-to-rem(24);
      margin-bottom: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
