{% from "warning-text/macro.njk" import govukWarningText %}

{% set classes = (params.classes if params.classes else '') + ' lbh-warning-text' %}
{% set formGroup = {
  classes: params.formGroup.classes + ' lbh-form-group' if params.formGroup.classes else 'lbh-form-group'
} %}

{{ govukWarningText({
  text: params.text,
  html: params.html,
  iconFallbackText: params.iconFallbackText,
  classes: classes,
  attributes: params.attributes
})}}
