@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";


@include lbh-exports("lbh/component/back-to-top") {
  .lbh-back-to-top {
    display: inline-block;
    position: fixed;
    z-index: lbh-depth-index("back-to-top");
    @include lbh-rem(bottom, 65);
    left: 50%;
    @include lbh-rem(padding, 6, 23, 6, 6);
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    border: 1px solid rgba(lbh-colour("lbh-a01"), .1);
    @include lbh-rem(border-radius, 22);
    background: rgba(lbh-colour("lbh-grey-4"), .9);
    box-shadow: rgba(lbh-colour("lbh-black"), .2) 0 1px 5px 0;
    text-decoration: none;

    @include govuk-media-query($from: desktop) {
      right: 0;
      left: auto;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      @include lbh-rem(border-radius, 22, 0, 0, 22);
    }

    .js-enabled & {
      -webkit-transition: opacity 350ms;
      transition: opacity 350ms;
      opacity: 0;
      pointer-events: none;
    }

    .js-enabled &--visible {
      opacity: 1;
      pointer-events: all;
    }

    &:hover {
      .lbh-back-to-top__text {
        text-decoration: none;
      }
    }

    &:active {
      background: lbh-colour("lbh-link");

      .lbh-back-to-top__icon-circle {
        fill: lbh-colour("lbh-white");
        stroke: lbh-colour("lbh-link");
      }

      .lbh-back-to-top__icon-arrow {
        fill: lbh-colour("lbh-link");
      }

      .lbh-back-to-top__text {
        color: lbh-colour("lbh-white");
        text-decoration: underline;
      }
    }

    &:focus {
      box-sizing: border-box;
      @include lbh-rem(height, 43);
      @include lbh-rem(padding, 5, 22, 5, 5);
      border: 2px solid lbh-colour("lbh-primary-focus");
      outline: none;
    }

    &__icon {
      display: inline-block;
      @include lbh-rem(width, 29);
      @include lbh-rem(height, 29);
      @include lbh-rem(margin-right, 8);
      vertical-align: middle;
    }

    &__icon-circle {
      fill: lbh-colour("lbh-link");
      stroke: lbh-colour("lbh-white");
    }

    &__icon-arrow {
      fill: lbh-colour("lbh-white");
    }

    &__text {
      display: inline-block;
      margin-top: 0;
      @include lbh-font;
      color: $lbh-link-colour;
      @include lbh-rem(font-size, 16);
      font-weight: $lbh-font-weight-regular;
      @include lbh-rem(line-height, 19);
      text-decoration: underline;
      vertical-align: middle;

      @include govuk-media-query($from: tablet) {
        @include lbh-rem(font-size, 14);
        @include lbh-rem(line-height, 18);
      }
    }
  }
}
