.app-no-canvas-background {
  background-color: $govuk-body-background-colour;
}

/* Injected into the preview page, that is then put in an iframe */
.app-iframe-in-component-preview {
}

/* Removes the breakpoint sass-mq debug display */
.app-iframe-in-component-preview:before {
  display: none;
}

.app-\!-di {
  display: inline;
}

.app-component-preview {
  position: relative;
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
}

.app-component-preview__iframe {
  z-index: 20;
  display: block;
  position: relative;
  border: none;
  width: 100%;
}

.app-iframe-in-component-preview .lbh-main-wrapper {
  padding-bottom: 40px;
  padding-top: 40px;
}

// Highlight the whitespace around a component, so you can see without having to
// inspect it.
.app-iframe-in-component-preview {
  .app-whitespace-highlight {
    @include govuk-clearfix;

    content: " ";
    display: table;
    clear: both;
    width: 100%;
    box-shadow: 0 0 0 5px #e4f2ff;

    @include govuk-if-ie8 {
      outline: 5px solid #e4f2ff;
    }
  }
}

.app-iframe-in-component-preview .lbh-cookie-banner {
  position: static;
}

.app-iframe-in-component-preview .lbh-back-to-top {
  position: static;
  transform: none;
}

.app-iframe-in-component-preview .lbh-header--fixed {
  position: relative;
}

.js-enabled.app-iframe-in-component-preview .lbh-back-to-top {
  transition: none;
  opacity: 1;
  pointer-events: all;
}

.code {
  background: lbh-colour("lbh-grey-4");
  font-family: courier, monospace;
}

.code--block {
  @include lbh-rem(padding, 10);
  display: block;
}

.typography-code-example {
  @include lbh-rem(margin-top, 5);
  ul + &,
  ol + & {
    @include lbh-rem(margin-top, 15);
  }
}

.create-html__form .code--block {
  @include lbh-rem(margin-top, 5);
}

.create-html__example {
  @include lbh-rem(margin-top, 10);
  display: block;
}

.create-html__group,
.create-html__array-title + .create-html__fieldset {
  margin-left: 20px;
}

.colour-swatch {
  display: inline-block;
  @include lbh-rem(width, 80);
  @include lbh-rem(height, 80);
  @include lbh-rem(margin-right, 10);
  vertical-align: middle;
}

.colour-text {
  display: inline-block;
  margin-top: 0;
  vertical-align: middle;
}

.colour-name,
.colour-hex {
  display: block;
  margin-top: 0;
}

.table--child .govuk-table__row:last-child .govuk-table__cell,
.table--child .govuk-table__row:last-child .govuk-table__header {
  border-bottom: 0;
}

.params {
  margin-top: 1.5em;
}

.create-html__label {
  display: block;
}
