.app-no-canvas-background {
  background-color: $govuk-body-background-colour;
}

/* Injected into the preview page, that is then put in an iframe */
.app-iframe-in-component-preview {}

/* Removes the breakpoint sass-mq debug display */
.app-iframe-in-component-preview:before {
  display: none;
}

.app-\!-di {
  display: inline;
}

.app-component-preview {
  position: relative;
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
}

.app-component-preview__iframe {
  z-index: 20;
  display: block;
  position: relative;
  border: none;
  width: 100%;
}

.app-iframe-in-component-preview .lbh-main-wrapper {
  padding-bottom: 40px;
  padding-top: 40px;
}

// Highlight the whitespace around a component, so you can see without having to
// inspect it.
.app-iframe-in-component-preview {
  .app-whitespace-highlight {
    @include govuk-clearfix;

    content: " ";
    display: table;
    clear: both;
    width: 100%;
    box-shadow: 0 0 0 5px #e4f2ff;

    @include govuk-if-ie8 {
      outline: 5px solid #e4f2ff;
    }
  }
}

.app-iframe-in-component-preview .lbh-cookie-banner {
  position: static;
}

.app-iframe-in-component-preview .lbh-back-to-top {
  position: static;
  transform: none;
}

.js-enabled.app-iframe-in-component-preview .lbh-back-to-top {
  transition: none;
  opacity: 1;
  pointer-events: all;
}
