@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "node_modules/govuk-frontend/govuk/components/error-summary/error-summary";

@include lbh-exports("lbh/component/error-summary") {
  .lbh-error-summary {
    margin-bottom: 0;
    @include lbh-rem(padding, 18, 24, 24);
    border-color: lbh-colour("lbh-error");

    .govuk-error-summary__title {
      @include lbh-heading-h2;
      margin-top: 0;
    }

    .govuk-error-summary__list a {
      font-weight: $lbh-font-weight-medium;

      &,
      &:link,
      &:hover,
      &:active,
      &:focus,
      &:visited {
        color: lbh-colour("lbh-error");
      }
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    .govuk-list {
      @include lbh-list;
    }
  }
}
