{% extends "layout.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from 'lbh-table/macro.njk' import lbhTable %}

{% block beforeContent %}
  {{ govukBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="lbh-heading-h1">
    Typography
  </h1>

  <!-- Headings -->

  <section>
    <h2 class="lbh-heading-h2 lbh-!-padding-bottom-2" style="border-bottom: 4px solid;">Headings</h2>
    <h1 class="lbh-heading-h1">lbh-heading-h1</h1>
    <h2 class="lbh-heading-h2">lbh-heading-h2</h2>
    <h3 class="lbh-heading-h3">lbh-heading-h3</h3>
    <h4 class="lbh-heading-h4">lbh-heading-h4</h4>
    <h5 class="lbh-heading-h5">lbh-heading-h5</h5>
    <h6 class="lbh-heading-h6">lbh-heading-h6</h6>
  </section>

  <!-- Body text -->

  <section class="govuk-!-margin-top-8">
    <h2 class="lbh-heading-l govuk-!-padding-bottom-2" style="border-bottom: 4px solid;">Body text</h2>
    <p class="lbh-body-l">lbh-body-l</p>
    <p class="lbh-body-m">lbh-body / lbh-body-m</p>
    <p class="lbh-body-s">lbh-body-s</p>
    <p class="lbh-body-xs">lbh-body-xs</p>
  </section>

  <!-- Overrides -->

  <section class="govuk-!-margin-top-8">
    <h2 class="lbh-heading-h2 govuk-!-padding-bottom-2" style="border-bottom: 4px solid;">Overrides</h2>

    <h3 class="lbh-heading-h3">Override font-size and line-height</h3>

    <!-- We have to add lbh-body to get new transport, but then we get
      margins, so we have to remove them -->

    <p class="lbh-body govuk-!-margin-0 govuk-!-font-size-80">govuk-!-font-size-80</p>
    <p class="lbh-body govuk-!-margin-0 govuk-!-font-size-48">govuk-!-font-size-48</p>
    <p class="lbh-body govuk-!-margin-0 govuk-!-font-size-30">govuk-!-font-size-30</p>
    <p class="lbh-body govuk-!-margin-0 govuk-!-font-size-24">govuk-!-font-size-24</p>
    <p class="lbh-body govuk-!-margin-0 govuk-!-font-size-20">govuk-!-font-size-20</p>
    <p class="lbh-body govuk-!-margin-0 govuk-!-font-size-18">govuk-!-font-size-18</p>
    <p class="lbh-body govuk-!-margin-0 govuk-!-font-size-16">govuk-!-font-size-16</p>
    <p class="lbh-body govuk-!-margin-0 govuk-!-font-size-14">govuk-!-font-size-14</p>


    <h3 class="lbh-heading-h3 govuk-!-margin-top-9">Override font weight.</h3>

    <p class="lbh-body govuk-!-margin-0 lbh-!-font-weight-regular">lbh-!-font-weight-regular</p>
    <p class="lbh-body govuk-!-margin-0 lbh-!-font-weight-bold">lbh-!-font-weight-bold</p>
    <p class="lbh-body govuk-!-margin-0 lbh-!-font-weight-medium">lbh-!-font-weight-medium</p>
    <p class="lbh-body govuk-!-margin-0 lbh-!-font-weight-light">lbh-!-font-weight-light</p>
    <p class="lbh-body govuk-!-margin-0 lbh-!-font-weight-extra-light">lbh-!-font-weight-extra-light</p>


    <h3 class="lbh-heading-h3 govuk-!-margin-top-9">Override both by combining classes</h3>

    <p class="lbh-body govuk-!-margin-0 govuk-!-font-size-48 lbh-!-font-weight-bold">govuk-!-font-size-48 + lbh-!-font-weight-bold</p>

    <h3 class="lbh-heading-h3 govuk-!-margin-top-9">Override typography classes</h3>

    <h1 class="lbh-heading-h1 govuk-!-font-size-80">lbh-heading-h1 + govuk-!-font-size-80</h1>

    <h2 class="lbh-heading-h1 govuk-!-font-weight-regular">lbh-heading-h1 + govuk-!-font-weight-regular</h2>

    <p class="lbh-body-l lbh-!-font-weight-bold">lbh-body-l + lbh-!-font-weight-bold</p>

  </section>
  <section class="govuk-!-margin-top-8">
    <h2 class="lbh-heading-h2 govuk-!-padding-bottom-2" style="border-bottom: 4px solid;">Lists</h2>
    <h3 class="lbh-heading-h3">lbh-list</h3>
    <ul class="lbh-list">
      <li>
        <a href="#" class="lbh-link">Benefits calculators</a>
      </li>
      <li>
        <a href="#" class="lbh-link">Benefit overpayments</a>
      </li>
      <li>
        <a href="#" class="lbh-link">Benefit fraud</a>
      </li>
      <li>
        <a href="#" class="lbh-link">More</a>
      </li>
    </ul>
    <h3 class="lbh-heading-h3">lbh-list + lbh-list--bullet</h3>
    <ul class="lbh-list lbh-list--bullet">
      <li>Apples</li>
      <li>Oranges</li>
      <li>Pears</li>
    </ul>
    <h3 class="lbh-heading-h3">lbh-list + lbh-list--number</h3>
    <ol class="lbh-list lbh-list--number">
      <li>Delivery address</li>
      <li>Payment</li>
      <li>Confirmation</li>
    </ol>
    <h3 class="lbh-heading-h3">Nested lbh-list 1</h3>
    <ul class="lbh-list lbh-list--number">
      <li><a class="lbh-link" href="#">Download kit</a></li>
      <li>
        <a class="lbh-link" href="#">Simple install guide</a>
        <ol class="lbh-list lbh-list--number">
          <li>
            <a class="lbh-link" href="#">Kit requirements</a>
            <ul class="lbh-list lbh-list--bullet">
              <li>Node.js</li>
              <li>Web browser</li>
            </ul>
          </li>
          <li>
            <a class="lbh-link" href="#">Install the kit</a>
          </li>
          <li>
          <a class="lbh-link" href="#">Run the kit</a>
          </li>
        </ol>
      </li>
      <li><a class="lbh-link" href="#">Advanced install guide</a></li>
    </ul>
    <h3 class="lbh-heading-h3">Nested lbh-list 1</h3>
    <ul class="lbh-list lbh-list--bullet">
      <li>Fruits
        <ul class="lbh-list lbh-list--bullet">
          <li>Apples
            <ul class="lbh-list lbh-list--bullet">
              <li>Granny Smith</li>
              <li>Gala</li>
            </ul>
          </li>
          <li>Oranges</li>
        </ul>
      </li>
      <li>Vegetables</li>
    </ul>
  </section>

  <!-- Body text -->

  <section class="govuk-!-margin-top-8">
    <h2 class="lbh-heading-h2 govuk-!-padding-bottom-2" style="border-bottom: 4px solid;">Links</h2>
    <div>
      <p class="lbh-body">
        <a href="#" class="lbh-link">lbh-link</a>
      </p>
    </div>
    <div>
      <p class="lbh-body">
        <a href="#" class="lbh-link lbh-link--muted">lbh-link lbh-link--muted</a>
      </p>
    </div>
  </section>

  <section class="govuk-!-margin-top-8">
    <h2 class="lbh-heading-h2 govuk-!-padding-bottom-2" style="border-bottom: 4px solid;">Example content 1</h2>

    <h1 class="lbh-heading-h1">Request information about a vehicle or its registered keeper from DVLA</h1>

    <p class="lbh-body-l">You can ask DVLA for information about your vehicle or another vehicle and its registered keeper if you have a ‘reasonable cause’.</p>

    <h2 class="lbh-heading-h2">Information about another vehicle or its registered keeper</h2>

    <p class="lbh-body-m">You can ask for details of another vehicle’s registered keeper. You’ll need a ‘reasonable cause’, for example:</p>

    <ul class="lbh-list lbh-list--bullet">
      <li>finding out who was responsible for an accident</li>
      <li>tracing the registered keeper of an abandoned vehicle</li>
      <li>tracing the registered keeper of a vehicle parked on private land</li>
      <li>giving out parking tickets</li>
      <li>giving out trespass charge notices</li>
      <li>tracing people responsible for driving off without paying for goods and services</li>
      <li>tracing people suspected of insurance fraud</li>
    </ul>

    <p class="lbh-body-m">Private car parking management companies that give out parking tickets or trespass charge notices can only request information from <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> if they’re members of the <a rel="external" href="http://www.britishparking.co.uk" class="lbh-link">British Parking Association</a> or the <a rel="external" href="http://www.theipc.info" class="lbh-link">International Parking Community.</a></p>


    <h3 class="lbh-heading-h3">How to make a request</h3>
    <p class="lbh-body-m">Fill in a form and apply by post. The form you need to use depends on who is making the request and why.</p>

    <p class="lbh-body-m">Details of how to pay and where to send your application are on each form.</p>

    {{ lbhTable({
      "classes": "govuk-!-font-size-16",
      "head": [
        {
          "text": "Who is making the request"
        },
        {
          "text": "Form"
        }
      ],
      "rows": [
        [
          {
            "text": "An individual"
          },
          {
            "html": "<a href=\"/government/publications/v888-request-by-an-individual-for-information-about-a-vehicle\" class=\"lbh-link\">Form V888</a>"
          }
        ],
        [
          {
            "text": "A company"
          },
          {
            "html": "<a href=\"/government/publications/v8882-request-by-a-company-for-information-about-a-vehicle\" class=\"lbh-link\">Form V8882</a>"
          }
        ],
        [
          {
            "text": "A company that issues parking or trespass charge notices"
          },
          {
            "html": "<a href=\"/government/publications/v8883-request-for-information-for-those-who-issue-a-parking-charge-notice\" class=\"lbh-link\">Form V8883</a>"
          }
        ]
      ]
    }) }}

    <p class="lbh-body-m">You can download further information on <a href="/government/publications/giving-people-information-from-our-vehicle-record" class="lbh-link">requesting information from <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr></a>.</p>

    <h3 class="lbh-heading-h3">Information about you or your vehicle</h3>
    <p class="lbh-body-m">You can ask for information about your current vehicle or a vehicle that used to be registered in your name.</p>

    <p class="lbh-body-m">It doesn’t cost anything.</p>

    <p class="lbh-body-m">You’ll need to include:</p>

    <ul class="lbh-list lbh-list--bullet">
      <li>your full name</li>
      <li>your current address and the address on your log book (V5C)</li>
      <li>the registration number of the vehicle you’re asking about</li>
      <li>what information you need, for example when the vehicle was first registered or the date you bought it</li>
    </ul>

    <p class="lbh-body-m">You can send your request to DVLA by email or post.</p>

    <p class="lbh-body-m"><strong><abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> SAR Enquiries</strong><br><a href="mailto:SubjectAccess.Requests@dvla.gsi.gov.uk" class="lbh-link">SubjectAccess.Requests@dvla.gsi.gov.uk</a></p>

    <p class="lbh-body-m">
      SAR Enquiries
      <br>DVRE
      <br><abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr>
      <br>Swansea
      <br>SA99 1ZZ
      <br>
    </p>

    <p class="lbh-body-m">Don’t use these details for general enquiries - contact DVLA instead.</p>
  </section>

  <section class="govuk-!-margin-top-8">
    <h2 class="lbh-heading-h2 govuk-!-padding-bottom-2" style="border-bottom: 4px solid;">Example content 2</h2>

    <h1 class="lbh-heading-h1">Apply for a Women’s Land Army or Women’s Timber Corps veterans badge</h1>

    <p class="lbh-body-l">You can get the veterans badge if you are a veteran of either the Women’s Land Army (<abbr title="Women's Land Army">WLA</abbr>) or the Women’s Timber Corps (<abbr title="Women's Timber Corps">WTC</abbr>).</p>

    <h2 class="lbh-heading-h2">Eligibility</h2>

    <p class="lbh-body-m">You’ll get the badge if you served during World War 1 or World War 2, or at any time up until the corps were disbanded in 1950.</p>

    <p class="lbh-body-m">You can apply for a badge if you are the spouse or family member of a deceased veteran, but only if they died after 6 December 2007 (when the badge was issued).</p>

    <h2 class="lbh-heading-h3">How to apply</h2>

    <p class="lbh-body-m">Fill in the <a href="/government/publications/women-s-land-army-and-timber-corps-veterans-badge-application-form" class="lbh-link"><abbr title="Women's Land Army">WLA</abbr> and <abbr title="Women's Timber Corps">WTC</abbr> veterans badge application form.</a></p>

    <p class="lbh-body-m">You’ll need to give your date of birth, approximate dates of service in the <abbr title="Women's Land Army">WLA</abbr> or <abbr title="Women's Timber Corps">WTC</abbr>, and the location at which you (or your family member or spouse) were stationed.</p>

    <p class="lbh-body-m">Send your form by email or post to Department for Environment, Food and Rural Affairs (<abbr title="Department for Environment, Food and Rural Affairs">Defra</abbr>).</p>


    <p class="lbh-body-m"><strong><abbr title="Department for Environment, Food and Rural Affairs">Defra</abbr></strong>
    <a href="mailto:womenslandarmy@defra.gsi.gov.uk" class="lbh-link">womenslandarmy@defra.gsi.gov.uk</a><br>
    Telephone: 0208 026 3078<br>
    <a href="/call-charges" class="lbh-link">Find out about call charges</a></p>


    <p class="lbh-body-m">

    Women’s Land Army Team
    <br>Department for Environment, Food and Rural Affairs
    <br>Area 1A
    <br>Nobel House
    <br>17 Smith Square
    <br>London
    <br>SW1P 3JR
    <br>
    </p>

    <h2 class="lbh-heading-h2" >After you’ve applied</h2>

    <p class="lbh-body-m">You’ll receive your badge within 4 weeks or you’ll be contacted if you need to provide more information.</p>
  </section>

  <section class="govuk-!-margin-top-8">
    <h2 class="lbh-heading-h2 govuk-!-padding-bottom-2" style="border-bottom: 4px solid;">Adjacent siblings</h2>

    <p class="lbh-body-l">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body </p>

    <h2 class="lbh-heading-h2">lbh-heading-h2 lbh-heading-h2 lbh-heading-h2 lbh-heading-h2 lbh-heading-h2</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body </p>

    <h2 class="lbh-heading-h2">lbh-heading-h2 lbh-heading-h2 lbh-heading-h2 lbh-heading-h2 lbh-heading-h2</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body </p>

    <h3 class="lbh-heading-h3">lbh-heading-h3 lbh-heading-h3 lbh-heading-h3 lbh-heading-h3 lbh-heading-h3</h3>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body </p>

    <h4 class="lbh-heading-h4">lbh-heading-h4 lbh-heading-h4 lbh-heading-h4 lbh-heading-h4 lbh-heading-h4</h4>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body </p>

    <h5 class="lbh-heading-h5">lbh-heading-h5 lbh-heading-h5 lbh-heading-h5 lbh-heading-h5 lbh-heading-h5</h5>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body </p>

    <h6 class="lbh-heading-h6">lbh-heading-h6 lbh-heading-h6 lbh-heading-h6 lbh-heading-h6 lbh-heading-h6</h6>

    <ul class="lbh-list lbh-list--bullet">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>

    <h2 class="lbh-heading-h2">lbh-heading-h2 lbh-heading-h2 lbh-heading-h2 lbh-heading-h2 lbh-heading-h2</h2>

    <ul class="lbh-list lbh-list--bullet">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>

    <h3 class="lbh-heading-h3">lbh-heading-h3 lbh-heading-h3 lbh-heading-h3 lbh-heading-h3 lbh-heading-h3</h3>

    <ul class="lbh-list lbh-list--bullet">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>

    <h4 class="lbh-heading-h4">lbh-heading-h4 lbh-heading-h4 lbh-heading-h4 lbh-heading-h4 lbh-heading-h4</h4>

    <ul class="lbh-list lbh-list--bullet">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>

    <h5 class="lbh-heading-h5">lbh-heading-h5 lbh-heading-h5 lbh-heading-h5 lbh-heading-h5 lbh-heading-h5</h5>

    <ul class="lbh-list lbh-list--bullet">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>

    <h6 class="lbh-heading-h6">lbh-heading-h6 lbh-heading-h6 lbh-heading-h6 lbh-heading-h6 lbh-heading-h6</h6>


    <ol class="lbh-list lbh-list--number">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ol>

    <h2 class="lbh-heading-h2">lbh-heading-h2 lbh-heading-h2 lbh-heading-h2 lbh-heading-h2 lbh-heading-h2</h2>

    <ol class="lbh-list lbh-list--number">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ol>

    <h3 class="lbh-heading-h3">lbh-heading-h3 lbh-heading-h3 lbh-heading-h3 lbh-heading-h3 lbh-heading-h3</h3>

    <ol class="lbh-list lbh-list--number">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ol>

    <h4 class="lbh-heading-h4">lbh-heading-h4 lbh-heading-h4 lbh-heading-h4 lbh-heading-h4 lbh-heading-h4</h4>

    <ol class="lbh-list lbh-list--number">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ol>

    <h5 class="lbh-heading-h5">lbh-heading-h5 lbh-heading-h5 lbh-heading-h5 lbh-heading-h5 lbh-heading-h5</h5>

    <ol class="lbh-list lbh-list--number">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ol>

    <h6 class="lbh-heading-h6">lbh-heading-h6 lbh-heading-h6 lbh-heading-h6 lbh-heading-h6 lbh-heading-h6</h6>

  </section>

  <section class="govuk-!-margin-top-8">
    <h2 class="lbh-heading-h2 govuk-!-padding-bottom-2" style="border-bottom: 4px solid;">Section breaks - Not-visible</h2>

    <h2 class="lbh-heading-h2">Topic A1</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <h2 class="lbh-heading-h2">Topic A2</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <hr class="govuk-section-break govuk-section-break--xl">

    <h2 class="lbh-heading-h2">Topic B (govuk-section-break--xl above)</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="lbh-heading-h2">Topic C (govuk-section-break--l above)</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="lbh-heading-h2">Topic D (govuk-section-break--m above)</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

  </section>

  <section class="govuk-!-margin-top-8">
    <h2 class="lbh-heading-h2 govuk-!-padding-bottom-2" style="border-bottom: 4px solid;">Section breaks - Visible</h2>

    <h2 class="lbh-heading-h2">Topic A1</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <h2 class="lbh-heading-h2">Topic A2</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

    <h2 class="lbh-heading-h2">Topic B (govuk-section-break--xl above)</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="lbh-heading-h2">Topic C (govuk-section-break--l above)</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="lbh-heading-h2">Topic D (govuk-section-break--m above)</h2>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

    <p class="lbh-body">lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body lbh-body</p>

  </section>
{% endblock %}
