@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../objects/all";

@include lbh-exports("lbh/component/announcement") {
  .lbh-announcement {
    @include lbh-rem(padding, 36, 0);
    border-top: 1px solid lbh-colour("lbh-a03");
    border-bottom: 1px solid lbh-colour("lbh-a03");
    background: rgba(lbh-colour("lbh-a04"), .2);

    .lbh-phase-banner + & {
      margin-top: -1px;
    }

    & + & {
      margin-top: 0;
    }

    &--site {
      background: rgba(lbh-colour("lbh-a04"), .5);
    }

    &__title {
      margin-top: 0;
      @include lbh-rem(margin-bottom, 12);
    }

    &__content {
      @include lbh-body-m;
      font-weight: $lbh-font-weight-regular;

      a {
        @include lbh-link;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
