<section class="lbh-announcement {% if params.isSiteWide %}lbh-announcement--site{% endif %}">
  <div class="lbh-container">
    <h3 class="lbh-announcement__title">{{params.title}}</h3>
    <div class="lbh-announcement__content">{{params.content|safe}}</div>
  </div>
</section>
