{% from "radios/macro.njk" import govukRadios %}

{% set classes = (params.classes if params.classes else '') + ' lbh-radios' %}
{% set formGroup = formGroup|setAttribute('classes', formGroup.classes + ' lbh-form-group') if formGroup else {classes: 'lbh-form-group'} %}

{% set hint = {
    text: params.hint.text,
    html: params.hint.html,
    id: params.hint.id,
    classes: (params.hint.classes if params.hint.classes else '') + ' lbh-hint',
    attributes: params.hint.attributes
 } if params.hint else null %}

{{ govukRadios({
  fieldset: params.fieldset,
  hint: hint,
  errorMessage: params.errorMessage,
  formGroup: formGroup,
  idPrefix: params.idPrefix,
  name: params.name,
  items: params.items,
  classes: classes,
  attributes: params.attributes
})}}
