@import "../settings/all";
@import "../tools/all";
@import "../helpers/all";

@include lbh-exports("lbh/core/typography") {

  // Headings

  %lbh-heading-h1 {
    @include lbh-font;
    display: block;
    margin-top: 0;
    // @include lbh-responsive-margin(8, "bottom");
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(32);
    font-weight: $lbh-font-weight-medium;
    line-height: govuk-px-to-rem(38);

    @include govuk-media-query($from: tablet) {
      margin-top: govuk-px-to-rem(60);
      font-size: govuk-px-to-rem(48);
      line-height: govuk-px-to-rem(58);
    }
  }

  .lbh-heading-h1 {
    @extend %lbh-heading-h1;
  }

  %lbh-heading-h2 {
    @include lbh-font;
    display: block;
    margin-top: 0;
    // @include lbh-responsive-margin(6, "bottom");
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(24);
    font-weight: $lbh-font-weight-medium;
    line-height: govuk-px-to-rem(29);

    @include govuk-media-query($from: tablet) {
      margin-top: govuk-px-to-rem(48);
      font-size: govuk-px-to-rem(30);
      line-height: govuk-px-to-rem(36);
    }
  }

  .lbh-heading-h2 {
    @extend %lbh-heading-h2;
  }

  %lbh-heading-h3 {
    @include lbh-font;
    display: block;
    margin-top: 0;
    // @include lbh-responsive-margin(4, "bottom");
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(20);
    font-weight: $lbh-font-weight-medium;
    line-height: govuk-px-to-rem(24);

    @include govuk-media-query($from: tablet) {
      margin-top: govuk-px-to-rem(36);
      font-size: govuk-px-to-rem(24);
      line-height: govuk-px-to-rem(29);
    }
  }

  .lbh-heading-h3 {
    @extend %lbh-heading-h3;
  }

  %lbh-heading-h4 {
    @include lbh-font;
    display: block;
    margin-top: govuk-px-to-rem(24);
    // @include lbh-responsive-margin(4, "bottom");
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(18);
    font-weight: $lbh-font-weight-medium;
    line-height: govuk-px-to-rem(22);

    @include govuk-media-query($from: tablet) {
      font-size: govuk-px-to-rem(20);
      line-height: govuk-px-to-rem(24);
    }
  }

  .lbh-heading-h4 {
    @extend %lbh-heading-h4;
  }

  %lbh-heading-h5 {
    @include lbh-font;
    display: block;
    margin-top: 0;
    // @include lbh-responsive-margin(4, "bottom");
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(16);
    font-weight: $lbh-font-weight-medium;
    line-height: govuk-px-to-rem(19);

    @include govuk-media-query($from: tablet) {
      margin-top: govuk-px-to-rem(12);
      font-size: govuk-px-to-rem(18);
      line-height: govuk-px-to-rem(22);
    }
  }

  .lbh-heading-h5 {
    @extend %lbh-heading-h5;
  }

  %lbh-heading-h6 {
    @include lbh-font;
    display: block;
    margin-top: 0;
    // @include lbh-responsive-margin(4, "bottom");
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(14);
    font-weight: $lbh-font-weight-medium;
    line-height: govuk-px-to-rem(17);

    @include govuk-media-query($from: tablet) {
      margin-top: govuk-px-to-rem(12);
      font-size: govuk-px-to-rem(16);
      line-height: govuk-px-to-rem(19);
    }
  }

  .lbh-heading-h6 {
    @extend %lbh-heading-h6;
  }

  %lbh-heading-large-light {
    @include lbh-font;
    display: block;
    margin-top: govuk-px-to-rem(36);
    // @include lbh-responsive-margin(4, "bottom");
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(24);
    font-weight: $lbh-font-weight-extra-light;
    line-height: govuk-px-to-rem(29);

    @include govuk-media-query($from: tablet) {
      font-size: govuk-px-to-rem(36);
      line-height: govuk-px-to-rem(48);
    }
  }

  .lbh-heading-large-light {
    @extend %lbh-heading-large-light;
  }



  // Body (paragraphs)

  %lbh-body-l {
    @include lbh-font;
    margin-top: 0;
    margin-bottom: govuk-px-to-rem(24);
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(19);
    font-weight: $lbh-font-weight-regular;
    line-height: govuk-px-to-rem(23);

    @include govuk-media-query($from: tablet) {
      font-size: govuk-px-to-rem(24);
      font-weight: $lbh-font-weight-light;
      line-height: govuk-px-to-rem(29);
    }
  }

  .lbh-body-l {
    @extend %lbh-body-l;
  }

  %lbh-body-m {
    @include lbh-font;
    margin-top: 0;
    margin-bottom: govuk-px-to-rem(19);
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(16);
    font-weight: $lbh-font-weight-light;
    line-height: govuk-px-to-rem(19);

    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-px-to-rem(23);
      font-size: govuk-px-to-rem(19);
      line-height: govuk-px-to-rem(23);
    }
  }

  .lbh-body-m {
    @extend %lbh-body-m;
  }

  %lbh-body-s {
    @include lbh-font;
    margin-top: 0;
    margin-bottom: govuk-px-to-rem(16);
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(13);
    font-weight: $lbh-font-weight-regular;
    line-height: govuk-px-to-rem(16);

    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-px-to-rem(19);
      font-size: govuk-px-to-rem(16);
      line-height: govuk-px-to-rem(19);
    }
  }

  .lbh-body-s {
    @extend %lbh-body-s;
  }

  %lbh-body-xs {
    @include lbh-font;
    margin-top: 0;
    // @include lbh-responsive-margin(6, "bottom");
    color: $lbh-text-colour;
    font-size: govuk-px-to-rem(14);
    font-weight: $lbh-font-weight-regular;
    line-height: govuk-px-to-rem(23);
  }

  .lbh-body-xs {
    @extend %lbh-body-xs;
  }

  // Usage aliases

  // Using extend to alias means we also inherit any contextual adjustments that
  // refer to the 'original' class name

  .lbh-body-lead {
    @extend %lbh-body-l;
  }

  .lbh-body {
    @extend %lbh-body-m;
  }

  strong {
    font-weight: $lbh-font-weight-medium;
  }
}
