@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("lbh/component/button") {
  $button-shadow-size: 2px;

  .lbh-button {
    @include lbh-font($size: 19, $line-height: 23px);
    @include govuk-focusable;

    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    @include govuk-responsive-margin(6, "bottom", $adjustment: $button-shadow-size);
    padding: lbh-spacing(12) lbh-spacing(24);
    border: 0;
    color: lbh-colour("white");
    background-color: lbh-colour("lbh-primary-button");
    box-shadow: 0 $button-shadow-size 0 0 lbh-colour("lbh-primary-inner-shadow");
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;

    @include govuk-if-ie8 {
      border-bottom: $button-shadow-size solid lbh-colour("lbh-primary-inner-shadow");
    }

    @include govuk-media-query($from: tablet) {
      width: auto;
    }

    // Ensure that any global link styles are overridden
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: lbh-colour("white");
      text-decoration: none;
    }

    // alphagov/govuk_template includes a specific a:link:focus selector
    // designed to make unvisited links a slightly darker blue when focussed, so
    // we need to override the text colour for that combination of selectors so
    // so that unvisited links styled as buttons do not end up with dark blue
    // text when focussed.
    @include govuk-compatibility(govuk_template) {
      &:link:focus {
        color: lbh-colour("white");
      }
    }

    // Fix unwanted button padding in Firefox
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &:hover,
    &:focus {
      background-color: lbh-colour("lbh-primary-hover");
    }

    &:focus {
      outline: 3px solid lbh-colour("lbh-primary-focus");
    }

    &:active {
      top: $button-shadow-size;
      box-shadow: none;

      @include govuk-if-ie8 {
        border-bottom-width: 0;
      }
    }

    // The following adjustments do not work for <input type="button"> as
    // non-container elements cannot include pseudo elements (i.e. ::before).

    // Use a pseudo element to expand the click target area to include the
    // button's shadow as well, in case users try to click it.
    &::before {
      content: "";
      display: block;

      position: absolute;

      top: -$govuk-border-width-form-element;
      right: -$govuk-border-width-form-element;
      bottom: -($govuk-border-width-form-element + $button-shadow-size);
      left: -$govuk-border-width-form-element;

      background: transparent;
    }

    // When the button is active it is shifted down by $button-shadow-size to
    // denote a 'pressed' state. If the user happened to click at the very top
    // of the button, their mouse is no longer over the button (because it has
    // 'moved beneath them') and so the click event is not fired.
    //
    // This corrects that by shifting the top of the pseudo element so that it
    // continues to cover the area that the user originally clicked, which means
    // the click event is still fired.
    //
    // 🎉
    &:active::before {
      top: -($govuk-border-width-form-element + $button-shadow-size);
    }
  }

  .lbh-button--disabled,
  .lbh-button[disabled="disabled"],
  .lbh-button[disabled] {
    background: lbh-colour("lbh-primary-disabled");
    box-shadow: 0 $button-shadow-size 0 0 lbh-colour("lbh-primary-disabled-inner-shadow");

    &:hover,
    &:focus {
      background-color: lbh-colour("lbh-primary-disabled");
      cursor: default;
    }

    &:focus {
      outline: none;
    }

    &:active {
      top: 0;
      box-shadow: 0 $button-shadow-size 0 0 lbh-colour("lbh-primary-disabled-inner-shadow"); // s0
      @include govuk-if-ie8 {
        border-bottom: 2px solid lbh-colour("lbh-primary-disabled-inner-shadow"); // s0
      }
    }
  }

  .lbh-button--secondary {
    border: 1px solid lbh-colour("lbh-primary-button");
    background-color: lbh-colour("lbh-secondary-button");
    box-shadow: 0 $button-shadow-size 0 0 lbh-colour("lbh-primary-inner-shadow");

    &,
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: lbh-colour("lbh-primary-button");
    }

    // alphagov/govuk_template includes a specific a:link:focus selector
    // designed to make unvisited links a slightly darker blue when focussed, so
    // we need to override the text colour for that combination of selectors so
    // so that unvisited links styled as buttons do not end up with dark blue
    // text when focussed.
    @include govuk-compatibility(govuk_template) {
      &:link:focus {
        color: lbh-colour("lbh-primary-button");
      }
    }

    &[disabled],
    &.lbh-button--disabled {
      color: lbh-colour("lbh-secondary-text");
      background-color: lbh-colour("lbh-secondary-disabled");
    }

    &:hover,
    &:focus {
      background-color: lbh-colour("lbh-secondary-button");
      text-decoration: underline;

      &[disabled],
      &.lbh-button--disabled {
        background-color: lbh-colour("lbh-secondary-disabled");
        text-decoration: none;
      }
    }
  }

  .lbh-button--start {
    @include govuk-typography-weight-bold;
    @include govuk-typography-responsive($size: 24, $override-line-height: 1);

    min-height: auto;
    padding-top: govuk-spacing(2) - $govuk-border-width-form-element;
    padding-right: govuk-spacing(7);
    padding-bottom: govuk-spacing(2) - $govuk-border-width-form-element;
    padding-left: govuk-spacing(3);

    background-image: govuk-image-url("icon-pointer.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;

    @include govuk-device-pixel-ratio {
      background-image: govuk-image-url("icon-pointer-2x.png");
      background-size: 30px 19px;
    }
  }
}
