@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "node_modules/govuk-frontend/govuk/components/error-message/error-message";

@include lbh-exports("lbh/component/error-message") {
  .lbh-error-message,
  .lbh-form-group .govuk-error-message {
    margin-top: 0;
    margin-bottom: 0;
    color: lbh-colour("lbh-error");
    font-weight: $lbh-font-weight-medium;
  }

  .lbh-error-message .govuk-input--error,
  .lbh-form-group .govuk-input--error {
    border-color: lbh-colour("lbh-error");
  }

  .lbh-error-message .govuk-form-group--error,
  .lbh-form-group.govuk-form-group--error {
    border-color: lbh-colour("lbh-error");
  }

  .lbh-form-group .govuk-fieldset__legend + .lbh-error-message,
  .lbh-form-group .govuk-fieldset__legend + .govuk-error-message {
    @include lbh-rem(margin-top, 6);
  }

  .lbh-form-group .govuk-fieldset__legend + .govuk-hint + .lbh-error-message,
  .lbh-form-group .govuk-fieldset__legend + .govuk-hint + .govuk-error-message {
    @include lbh-rem(margin-top, 12);
  }

  // Needed so that it is hidden when this component is imported individually
  .govuk-visually-hidden {
    @include govuk-visually-hidden;
  }
}
