@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../lbh-button/button";

@include lbh-exports("lbh/component/cookie-banner") {
  .lbh-cookie-banner {
    @include lbh-font;
    z-index: lbh-depth-index("cookie-banner");
    margin-top: 0;
    padding: govuk-px-to-rem(24) 0;
    color: lbh-colour("lbh-white");
    // sass-lint:disable no-duplicate-properties
    background: lbh-colour("lbh-black");
    background: rgba(lbh-colour("lbh-black"), .9);
    // sass-lint:enable no-duplicate-properties
    font-size: govuk-px-to-rem(16);
    font-weight: $lbh-font-weight-regular;
    line-height: govuk-px-to-rem(24);

    .js-enabled & {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
    }

    &__content {
      & > *:last-child {
        margin-bottom: 0;
      }

      p {
        margin-top: 0;
        color: lbh-colour("lbh-white");
      }

      a {
        @include lbh-link;

        &,
        &:link,
        &:visited {
          color: lbh-colour("lbh-white");
          font-weight: $lbh-font-weight-medium;

          &:hover {
            color: rgba(lbh-colour("lbh-white"), .8);
          }

          &:focus {
            color: lbh-colour("lbh-black");
          }
        }
      }
    }

    &__button-wrapper {
      margin-top: 0;

      @include govuk-media-query($from: desktop) {
        text-align: right;
      }
    }

    &__button {
      margin-top: govuk-px-to-rem(24);
      margin-bottom: 0;
      border-radius: 0;
      box-shadow: none;

      @include govuk-media-query($from: desktop) {
        margin-top: 0;
      }
    }
  }
}
