{% from "inset-text/macro.njk" import govukInsetText %}

{% set classes = (params.classes if params.classes else '') + ' lbh-inset-text' %}

{{ govukInsetText({
  text: params.text,
  html: params.html,
  id: params.id,
  classes: classes,
  attributes: params.attributes
})}}
