@include lbh-exports("lbh/overrides/typography") {

  // Weights

  .lbh-\!-font-weight-regular {
    font-weight: $lbh-font-weight-regular !important;
  }

  .lbh-\!-font-weight-bold {
    font-weight: $lbh-font-weight-bold !important;
  }

  .lbh-\!-font-weight-medium {
    font-weight: $lbh-font-weight-medium !important;
  }

  .lbh-\!-font-weight-light {
    font-weight: $lbh-font-weight-light !important;
  }

}
