@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../objects/all";

@include lbh-exports("lbh/component/header") {
  .lbh-header {
    position: relative;
    z-index: lbh-depth-index("header");
    margin-top: 0;
    @include lbh-rem(padding-bottom, 21);
    border-bottom: 2px solid lbh-colour("lbh-a03");
    background: lbh-colour("lbh-white");

    &--fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;

      & + * {
        @include lbh-rem(margin-top, 88);

        @include govuk-media-query($from: tablet) {
          @include lbh-rem(margin-top, 101);
        }
      }

      .lbh-skip-link:focus ~ & {
        @include lbh-rem(margin-top, 36);

        @include govuk-media-query($from: tablet) {
          @include lbh-rem(margin-top, 40);
        }
      }
    }

    &--purple {
      border-bottom-color: lbh-colour("lbh-e03");
    }

    &--red {
      border-bottom-color: lbh-colour("lbh-f03");
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      left: 0;
    }

    &:before {
      bottom: 3px;
      border-bottom: 3px solid lbh-colour("lbh-a02");
    }

    &--red:before {
      border-bottom-color: lbh-colour("lbh-f02");
    }

    &--purple:before {
      border-bottom-color: lbh-colour("lbh-e02");
    }

    &:after {
      bottom: 9px;
      border-bottom: 4px solid lbh-colour("lbh-a01");
    }

    &--red:after {
      border-bottom-color: lbh-colour("lbh-f01");
    }

    &--purple:after {
      border-bottom-color: lbh-colour("lbh-e01");
    }

    &__main {
      @include lbh-rem(padding, 16, 0, 12);
      color: lbh-colour("lbh-white");
      background: lbh-colour("lbh-black");

      @include govuk-media-query($from: tablet) {
        @include lbh-rem(padding, 20, 0, 12);
      }
    }

    &--red &__main {
      background: lbh-colour("lbh-f02");
    }

    &--purple &__main {
      background: lbh-colour("lbh-e01");
    }

    &__wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;

      &--stacked {
        @include govuk-media-query($until: tablet) {
          display: block;
        }
      }
    }

    &__title {
      display: inline-block;
      margin-top: 0;
      @include lbh-rem(margin-right, 24);
      margin-bottom: 0;
    }

    &__title-link {
      @include lbh-link-common;
      display: block;
      @include lbh-rem(padding, 4, 0);
      border-bottom: 1px solid transparent;
      text-decoration: none;

      &:hover {
        border-bottom-color: lbh-colour("lbh-white");
      }

      @include govuk-media-query($from: desktop) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
      }
    }

    &__logo {
      display: block;
      @include lbh-rem(width, 152);
      @include lbh-rem(height, 28);
      color: lbh-colour("lbh-white");

      @include govuk-media-query($from: desktop) {
        @include lbh-rem(width, 206);
        @include lbh-rem(height, 37);
        @include lbh-rem(margin-right, 8);
      }
    }

    &__logo-text {
      @include govuk-visually-hidden;
    }

    &__service-name {
      @include lbh-body-m;
      @include lbh-rem(margin-top, -10);
      margin-bottom: 0;
      color: lbh-colour("lbh-white");
      @include lbh-rem(font-size, 17);
      font-weight: $lbh-font-weight-regular;
      @include lbh-rem(line-height, 20);

      @include govuk-media-query($from: desktop) {
        margin-top: 0;
        @include lbh-rem(padding-top, 8);
        @include lbh-rem(font-size, 19);
        @include lbh-rem(letter-spacing, -.7);
        @include lbh-rem(line-height, 23);
      }
    }

    &--red &__service-name,
    &--purple &__service-name {
      color: lbh-colour("lbh-h04");
    }

    &__title-link:focus &__logo,
    &__title-link:focus &__service-name {
      color: lbh-colour("lbh-black");
    }

    &__service-name--short {
      text-transform: uppercase;

      @include govuk-media-query($from: desktop) {
        @include lbh-rem(padding-top, 1);
        @include lbh-rem(font-size, 29);
        @include lbh-rem(letter-spacing, -.7);
        @include lbh-rem(line-height, 35);
      }
    }

    &__links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 0;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;

      @include govuk-media-query($from: desktop) {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
      }

      a,
      p {
        @include lbh-body-m;
        @include lbh-rem(margin-top, 8);
        margin-bottom: 0;
        @include lbh-rem(padding, 4, 0);
        color: lbh-colour("lbh-white");
        font-weight: $lbh-font-weight-regular;

        & + a,
        & + p {
          @include lbh-rem(margin-left, 18);
        }
      }

      a {
        @include lbh-link-common;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}
