@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../lbh-hint/hint";

@import "node_modules/govuk-frontend/govuk/components/select/select";

@include lbh-exports("lbh/component/select") {
  .lbh-select {
    @include lbh-rem(margin-top, 6);

    .govuk-error-message + & {
      @include lbh-rem(margin-top, 12);
    }
  }
}
