@import "../../tools/all";
@import "../../settings/all";
@import "../../helpers/all";

@include lbh-exports("lbh/component/header") {
  .lbh-header {
    margin-bottom: 6px;
    position: relative;
    width: 100%;
    height: auto;
    background-color: lbh-colour("black");
  }

  .lbh-header__borders {
    border-top: 4px solid lbh-colour("dark-green");
    height: 15px;
    position: relative;
    width: 100%;

    &:before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 7px;
      left: 0;
      height: 3px;
      background: lbh-colour("mid-green");
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 13px;
      left: 0;
      height: 2px;
      background: lbh-colour("light-green");
    }
  }

  .lbh-header__logo {
    display: inline-block;
    width: 70%;
    padding: 2rem 0;

    @media (min-width: 720px) {
      width: 30%;
    }
  }
}
