<header class="lbh-header">
  <div class="lbh-header__borders">
    <div class="govuk-width-container">
      <img class="lbh-header__logo" src="{{ params.assetsPath | default('/assets/images') }}/logo.svg">
    </div>
  </div>
</header>