{% from "phase-banner/macro.njk" import govukPhaseBanner %}

{% set classes = (params.classes if params.classes else '') + ' lbh-phase-banner lbh-container' %}

{{ govukPhaseBanner({
  text: params.text,
  html: params.html,
  tag: { 
    text: params.tag.text, 
    html: params.tag.html, 
    classes: (params.tag.classes if params.tag.classes else '') + ' lbh-tag', 
    attributes: params.tag.attributes
  },
  classes: classes,
  attributes: params.attributes
})}}
