@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "node_modules/govuk-frontend/govuk/components/accordion/accordion";

@include lbh-exports("lbh/component/accordion") {
  .lbh-accordion {
    z-index: lbh-depth-index("accordion");

    .govuk-accordion__section + .govuk-accordion__section {
      margin-top: 0;
    }

    .govuk-accordion__section-button {
      @include lbh-heading-h5;
    }

    .govuk-accordion__section-content {
      margin-top: 0;
    }

    .govuk-accordion__section-summary,
    .govuk-accordion__section-content {
      @include lbh-body-m;
    }
  }
}
