{% from "accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: params.id,
  items: params.items,
  headingLevel: params.headingLevel,
  classes: params.classes,
  attributes: params.attributes
}) }}
