{% from "label/macro.njk" import govukLabel %}

{% set classes = (params.classes if params.classes else '') + ' lbh-label' %}

{{ govukLabel({
  text: params.text,
  html: params.html,
  id: params.id,
  classes: classes,
  attributes: params.attributes
})}}
