@include lbh-exports("lbh/component/pagination") {
  .lbh-pagination {
    display: flex;
    flex-direction: column;
    @include lbh-rem(margin-top, 6);
    @include lbh-body-m;
    padding: 10px 0px;

    @include govuk-media-query($from: desktop) {
      flex-direction: row;
      justify-content: space-between;
    }

    * + * {
      margin-top: 0;
    }

    &__list {
      padding: 0;
    }

    &__item {
      padding: 0;
      display: inline-block;
      margin-right: 7px;

      &:first-of-type a,
      &:last-of-type a {
        padding: 0;
      }
    }

    &__link {
      @include lbh-link;
      padding: 0px 5px;
      text-decoration: none;
      display: inline-block;

      &:visited {
        color: lbh-colour("lbh-link");
      }

      &--current {
        font-weight: 700;
        pointer-events: none;
        cursor: default;

        &:link,
        &:hover,
        &:focus,
        &:visited {
          color: lbh-colour("lbh-text");
        }
      }
    }

    &__summary {
      margin-bottom: 10px;
      @include govuk-media-query($from: desktop) {
        order: 2;
        margin-bottom: 0px;
      }
    }
  }
}
