@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../lbh-hint/hint";

@import "node_modules/govuk-frontend/govuk/components/input/input";

@include lbh-exports("lbh/component/input") {
  .lbh-input {
    @include lbh-body-m;
  }
}
