@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../core/form-group";
@import "../lbh-hint/hint";
@import "../lbh-error-message/error-message";
@import "../lbh-fieldset/fieldset";
@import "../lbh-label/label";

@import "node_modules/govuk-frontend/govuk/components/radios/radios";

@include lbh-exports("lbh/component/radios") {
  .lbh-radios {
    .govuk-label {
      @include lbh-body-m;
      margin-top: 0;
      margin-bottom: govuk-px-to-rem(6);
    }

    .govuk-radios__item,
    .govuk-radios__divider {
      margin-top: 0;
    }

    .govuk-radios__conditional {
      border-color: lbh-colour("lbh-border");
    }

    .govuk-hint {
      @include lbh-hint;
    }
  }
}
