@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../objects/all";

@import "node_modules/govuk-frontend/govuk/components/button/button";

@include lbh-exports("lbh/component/button") {
  .lbh-button {
    @include lbh-font;
    margin-top: 1.5em;
    margin-bottom: 0;
    @include lbh-rem(padding, 12, 22, 10);
    border-radius: 4px;
    background: lbh-colour("lbh-a01");
    @include lbh-rem(font-size, 19);
    font-weight: $lbh-font-weight-regular;
    @include lbh-rem(line-height, 23);

    &:not(&--warning):not(&--disabled):not([disabled]):hover {
      background: lbh-colour("lbh-primary-hover");
    }

    &:disabled,
    &:hover[disabled],
    &--disabled,
    &--disabled:hover {
      opacity: 1;
      background: lbh-colour("lbh-primary-disabled");
      box-shadow: 0 2px 0 lbh-colour("lbh-primary-disabled-inner-shadow");
    }

    &--start {
      @include lbh-rem(padding, 15, 24, 13);
      @include lbh-rem(font-size, 27);
      font-weight: $lbh-font-weight-medium;
      @include lbh-rem(line-height, 30);

      .govuk-button__start-icon {
        @include lbh-rem(margin-left, 24);
      }
    }

    &--secondary,
    &--secondary:link,
    &--secondary:visited {
      @include lbh-rem(padding, 13, 22, 11);
      border: 1px solid lbh-colour("lbh-a01");
      color: lbh-colour("lbh-a01");
      background: lbh-colour("lbh-white");
      box-shadow: inset lbh-colour("lbh-secondary-inner-shadow") 0 -2px 0 0;

      &:hover {
        color: lbh-colour("lbh-white");
        background: lbh-colour("lbh-primary-button");
      }

      &:disabled,
      &.lbh-button--disabled,
      &:hover[disabled],
      &.lbh-button--disabled:hover {
        opacity: 1;
        color: lbh-colour("lbh-grey-1");
        background: lbh-colour("lbh-secondary-disabled");
        box-shadow: inset lbh-colour("lbh-primary-inner-shadow") 0 -2px 0;
      }
    }

    &--warning {
      &,
      &[disabled],
      &:hover[disabled] {
        background: lbh-colour("lbh-error");
      }

      &:disabled,
      &.lbh-button--disabled {
        &,
        &:hover {
          opacity: .5;
        }
      }
    }
  }
}
