@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../objects/all";

@import "node_modules/govuk-frontend/govuk/components/hint/hint";

@mixin lbh-hint {
  @include lbh-body-m;
  margin-top: 0;
  margin-bottom: 0;
  color: lbh-colour("lbh-secondary-text");
}

@include lbh-exports("lbh/component/hint") {
  .lbh-hint {
    @include lbh-hint;
  }
}
