// sass-lint:disable no-url-protocols no-url-domains
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700&display=swap");
// sass-lint:enable no-url-protocols no-url-domains
$govuk-font-family: "Montserrat";
$govuk-include-default-font-face: false;
$lbh-font-family: "Montserrat";
@import "settings/all";
@import "tools/all";
@import "helpers/all";

@import "core/all";
@import "objects/all";
@import "components/all";

@import "utilities/all";
@import "overrides/all";
