@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";


@include lbh-exports("lbh/component/page-announcement") {
  .lbh-page-announcement {
    margin-bottom: govuk-px-to-rem(36);
    padding: govuk-px-to-rem(36) govuk-px-to-rem(36) govuk-px-to-rem(36) govuk-px-to-rem(24);
    border: 1px solid lbh-colour("lbh-a03");
    border-left: 6px solid lbh-colour("lbh-a03");
    background: rgba(lbh-colour("lbh-a04"), .3);

    &__title {
      margin-top: 0;
      margin-bottom: govuk-px-to-rem(12);
    }

    &__content {
      @include lbh-body-m;

      a {
        @include lbh-link;
      }

      ul {
        @include lbh-list;
        @include lbh-list--bullet;
        @include lbh-body-m;
      }
    }
  }
}
