@function lbh-strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin lbh-rem($property, $values...) {
  $max: length($values);
  $px-values: "";
  $rem-values: "";

  @for $i from 1 through $max {
    $value: lbh-strip-unit(nth($values, $i));
    $px-values: #{$px-values + $value}px;

    @if $i < $max {
      $px-values: #{$px-values + " "};
    }
  }

  @for $i from 1 through $max {
    $value: lbh-strip-unit(nth($values, $i));
    $rem-values: #{$rem-values + $value/lbh-strip-unit($govuk-root-font-size)}rem;

    @if $i < $max {
      $rem-values: #{$rem-values + " "};
    }
  }
  // sass-lint:disable no-duplicate-properties 
  #{$property}: $px-values;
  #{$property}: $rem-values;
  // sass-lint:enable no-duplicate-properties
}
