@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../objects/all";

@import "node_modules/govuk-frontend/govuk/components/file-upload/file-upload";

@include lbh-exports("lbh/component/file-upload") {
  .lbh-file-upload {
    @include lbh-body-m;
    @include lbh-rem(padding, 10px, 0);
    line-height: 1;

    @include govuk-media-query ($from: tablet) {
      line-height: 1;
    }
  }
}
