@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("lbh/component/phase-banner") {
  .lbh-phase-banner {
    padding: govuk-px-to-rem(8) 0 govuk-px-to-rem(10);
    border-bottom: 1px solid lbh-colour("lbh-panel");

    &__status {
      @extend %lbh-body-xs;
      margin-right: govuk-px-to-rem(8);
      padding: govuk-px-to-rem(2) govuk-px-to-rem(12);
      color: lbh-colour("lbh-white");
      background: lbh-colour("lbh-a01");
      box-shadow: lbh-colour("lbh-primary-inner-shadow") 0 2px 0 0;
      text-transform: uppercase;
    }

    &__message {
      @extend %lbh-body-xs;

      a {
        @extend %lbh-link;
      }
    }
  }
}
