<a href="{{params.topLink}}" class="lbh-back-to-top" data-module="lbh-back-to-top">
  {% include "../../assets/images/back-to-top/arrow-up.svg" %}
  <span class="lbh-back-to-top__text">Back to top</span>
</a>
