@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";
@import "../../objects/all";

@import "node_modules/govuk-frontend/govuk/components/tabs/tabs";

@include lbh-exports("lbh/component/tabs") {
  .lbh-tabs {
    margin-bottom: 0;

    .govuk-tabs__list-item {
      margin-top: 0;
    }

    .govuk-tabs__panel {
      margin-top: 0;
    }
  }
}
