{% from "hint/macro.njk" import govukHint %}

{% set classes = (params.classes if params.classes else '') + ' lbh-hint' %}

{{ govukHint({
  text: params.text,
  html: params.html,
  id: params.id,
  classes: classes,
  attributes: params.attributes
})}}
