{% extends "full-width.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "macros/showExamples.njk" import showExamples %}

{% set bodyClasses %}
  language-markup
{% endset %}

{% block beforeContent %}
  <div class="lbh-container">
    {{ govukBackLink({
      href: "/" + legacyQuery
    }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="lbh-container">
    <h1 class="lbh-heading-h1">
      All components
    </h1>
  </div>
  {% for data in componentData %}
    {% set componentName = data.componentName %}
    {% set componentNameHuman = componentName | replace("lbh-", "") | replace("-", " ") %}
    {{ showExamples(componentName, componentNameHuman, data, legacyQuery) }}
  {% endfor %}
{% endblock %}
