{% from "lbh-breadcrumbs/macro.njk" import lbhBreadcrumbs %}

{% extends "full-width.njk" %}
{% from "macros/loadComponentTemplate.njk" import loadComponentTemplate %}

{% set bodyClasses %}
  language-markup
{% endset %}

{% set componentName = componentPath %}
{% set componentNameHuman = componentName | replace("lbh-", "") | replace("-", " ") %}

{% set htmlMarkup %}
  {% include componentName +"/"+ componentName +".njk" ignore missing %}
{% endset %}

{% block beforeContent %}
  {{ lbhBreadcrumbs({
    "items": [
    { text: 'LBH Frontend', href: '/' + legacyQuery },
    { text: componentNameHuman | capitalize }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="lbh-container">
    <h1 class="lbh-heading-h1">
      {% block componentName %}
        {{ componentNameHuman | capitalize }}
      {% endblock %}
    </h1>
    <h4 class="lbh-heading-h4">Markup</h4>

    {% set componentHtml %}{{ loadComponentTemplate(componentName, query) }}{% endset %}
    <pre><code class="govuk-!-font-size-16 code code--block">{{- componentHtml | e -}}</code></pre>
{% endblock %}
