{% from "lbh-breadcrumbs/macro.njk" import lbhBreadcrumbs %}
{% from "macros/showExamples.njk" import showExamples %}

{% extends "full-width.njk" %}

{% set bodyClasses %}
  language-markup
{% endset %}

{% set componentName = componentPath %}
{% set componentNameHuman = componentName | replace("lbh-", "") | replace("-", " ") %}

{% set htmlMarkup %}
  {% include componentName +"/"+ componentName +".njk" ignore missing %}
{% endset %}

{% block beforeContent %}
  {{ lbhBreadcrumbs({
    "items": [
    { text: 'LBH Frontend', href: '/' + legacyQuery },
    { text: componentNameHuman | capitalize }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="lbh-container">
    <h1 class="lbh-heading-h1">
      {% block componentName %}
        {{ componentNameHuman | capitalize }}
      {% endblock %}
    </h1>
  </div>

  {% block examples %}
    {{ showExamples(componentName, componentNameHuman, componentData,legacyQuery) }}
  {% endblock %}
{% endblock %}
