{% extends "layout.njk" %}

{% block main %}
  {% block beforeContent %}{% endblock %}
  <main class="lbh-main-wrapper {{ mainClasses }}" id="main-content" role="main">
    {% block content %}{% endblock %}
  </main>
{% endblock %}
