{% extends "layout.njk" %}

{% block content %}
  <h1 class="lbh-heading-h1">
    LBH Frontend
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <h2 class="lbh-heading-h2">Components</h2>

      <ul class="lbh-list">
        <li><a href="/components/all{{ legacyQuery }}" class="lbh-link">All</a></li>
        {% for componentName in componentsDirectory | sort %}
          <li><a href="/components/{{ componentName }}{{ legacyQuery }}" class="lbh-link">{{ componentName | replace("lbh-", "") | replace("-", " ") | capitalize }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="lbh-heading-h2">Examples</h2>

      <ul class="lbh-list">
      {% for exampleName in examplesDirectory | sort %}
        <li><a href="/examples/{{ exampleName }}{{ legacyQuery }}" class="lbh-link">{{ exampleName | replace("-", " ") | capitalize }}</a></li>
      {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="lbh-heading-h2">Full page examples</h2>

      <ul class="lbh-list">
      {% for exampleName in fullPageExamplesDirectory | sort %}
        <li><a href="/full-page-examples/{{ exampleName }}{{ legacyQuery }}" class="lbh-link">{{ exampleName | replace("-", " ") | capitalize }}</a></li>
      {% endfor %}
      </ul>

      <h2 class="lbh-heading-h2">Misc</h2>

      <ul class="lbh-list">
        <li><a href="/docs" class="lbh-link">Sass Documentation</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
