@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "node_modules/govuk-frontend/govuk/components/phase-banner/phase-banner";

@import "../lbh-tag/tag";

@include lbh-exports("lbh/component/phase-banner") {
  .lbh-phase-banner {
    padding: govuk-px-to-rem(8) 0 govuk-px-to-rem(10);
    border-bottom: 1px solid lbh-colour("lbh-panel");

    .govuk-phase-banner__content__tag {
      margin-right: govuk-px-to-rem(8);

      @include govuk-media-query($from: desktop) {
        margin-right: govuk-px-to-rem(12);
      }
    }

    .govuk-phase-banner__text {
      @include lbh-body-xs;

      a {
        @include lbh-link;
      }

      @include govuk-media-query($until: desktop) {
        display: inline;
      }
    }
  }
}
