{% from "phase-banner/macro.njk" import govukPhaseBanner %}

{% set classes = (params.classes if params.classes else '') + ' lbh-phase-banner lbh-container' %}

{{ govukPhaseBanner({
  text: params.text,
  html: params.html,
  tag: params.tag,
  classes: classes,
  attributes: params.attributes
})}}
